<?xml version="1.0" ?>
<model>
    <name>Dextra_right</name>
    <version>1.0</version>
    <sdf version="1.7">dextra_right.sdf</sdf>
    <author>
        <name>RoboticsLab at UC3M</name>
        <email></email>
    </author>
    <description>Model for the TEO humanoid robot with fully actuated Dextra hands.</description>
</model>
