<?xml version="1.0" ?>
<model>
    <name>Dextra</name>
    <version>1.0</version>
    <!-- <sdf version="1.7">dextra_left.sdf</sdf> -->
    <author>
        <name>RoboticsLab at UC3M</name>
        <email></email>
    </author>
    <description>Common CAD models for the Dextra hand.</description>
</model>
